.product{
  @include flex(center, space-between, 5rem);
  background-color: $bg-secondary;
  color: white;
  border-radius: 0.5rem;
  padding: 2rem 3rem;
  width: 100%;
  margin: 1rem 0 3rem;

  &__img{
    width: 30%;
    object-fit: contain;

    img{
      border-radius: 0.25rem;
      width: 100%;
      object-fit: contain;
    }
  }

  &__content{
    @include flex(start, center, 0.5rem, column);
    width: 50%;
    text-decoration: none;

    h3{
      font-size: 1.5rem;
      text-align: end;
      margin: 1rem 0;
      color: $bg-primary;
    }

    h4{
      font-size: 0.9rem;
      color: $color-text-light;
    }

    &__links{
      @include flex(end, center, 0.5rem);
    }
  }
}