{% extends 'base.html.twig' %}

{% block title %}403 Forbidden{% endblock %}

{% block body %}
    <h1 class="title"><span><img src="{{ asset('img/icons/icon-stick.png') }}" alt="title-icon"></span>403 Forbidden</h1>

    <p>Sorry, you don't have permission to access this page. You should <a href="{{ path('homepage') }}">return to the homepage</a>.</p>
{% endblock %}