{% extends 'base.html.twig' %}

{% block title %}Error{% endblock %}

{% block body %}
    <h1 class="title"><span><img src="{{ asset('img/icons/icon-stick.png') }}" alt="title-icon"></span>Error</h1>

    <p>Sorry, an error occurred while processing your request.</p>
{% endblock %}