{% extends 'base.html.twig' %}

{% block title %}500 Internal Server Error{% endblock %}

{% block body %}
    <h1>500 Internal Server Error</h1>
    <p>Sorry, something went wrong on our end. Try coming back later</p>
{% endblock %}