{% extends 'base.html.twig' %}

{% block title %}Edit Cart{% endblock %}

{% block body %}
    <h1 class="title"><span><img src="{{ asset('img/icons/icon-stick.png') }}" alt="title-icon"></span>Edit User</h1>

    {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}
{% endblock %}
