{% extends 'base.html.twig' %}

{% block title %}{{ 'user.edit_account' | trans }}{% endblock %}

{% block body %}
    <h1 class="title"><span><img src="{{ asset('img/icons/icon-stick.png') }}" alt="title-icon"></span>{{ 'user.edit_account' | trans }}</h1>

    {{ include('user/_form.html.twig', {'button_label': 'user.update' | trans }) }}
{% endblock %}
